.content {
  margin: 0 auto;
  width: 90vw;
}

.gutter {
  clear: both;
  height: 50px;
}

.card {
  border: 1px solid #666;
  border-radius: 3px;
  margin: 1px;
  float: left;
  font-size: 18px;
  width: 3.8em;
  height: 5em;
  position: relative;
}

.card.hidden {
  background: linear-gradient(to right, #88bfe8 0%,#70b0e0 100%);
}

.card > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.card.red > span {
  color: red;
}

.card.hidden > span {
  visibility: hidden;
}

.card.removed {
  background-color: rgb(199, 198, 198);
}

.card.removed > span {
  visibility: hidden;
}

